body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #f09217;
  text-decoration: none;
  transition: all 0.2s linear;
}

a:hover {
  color: #000000;
}

.body {
  margin-top: 20px;
}

.body-container {
  width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  margin-top: 40px;
}

.main-panel {
  float: left;
  margin-bottom: 10px;
  width: 835px;
  margin-right: 20px;
}

.side-panel {
  float: right;
  width: 307px;
}

.top-side-panel {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  position: relative;
}

.bottom-side-panel {
  height: 200px;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  position: relative;
}

table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;
}

td {
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
  text-align: left;
}

.ma-giam-gia-header {
  background: #2f6e91;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 0;
  width: 100%;
}

.get-code-btn {
  box-shadow: 1px 3px 6px 0px #85878a;
  background-color: #00a6e3;
  border-radius: 25px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 15px;
  text-decoration: none;
}

.get-code-btn:hover {
  background-color: #f09217;
  color: #ffffff;
}

.get-code-btn:active {
  position: relative;
  top: 1px;
}

.fix-side-panel {
  width: 307px;
}

.sticky {
  position: fixed;
  top: 0;
}

.box {
  background: #fff;
  border: 1px solid #e0e0e0;
  margin-bottom: 20px;
  position: relative;
}

.box-header {
  background: #2f6e91;
  padding: 10px 15px;
}

.box-header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.box-header h2 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.box-header h3 {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.owl-stage {
  display: flex;
}

.owl-item {
  border: 0 solid #eaeaea;
  border-right-width: 1px;
  box-sizing: border-box;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px !important;
  padding-top: 20px
}

.owl-item:first-child {
  margin-left: 20px;
}

.owl-dots {
  margin-top: 0 !important;
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.post-title {
  text-decoration: none;
  font-size: 17px;
  color: #40454d;
}

.post-title:hover {
  color: #f09217;
}

.side-box {
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.side-box-list-item {
  padding: 12px;
  display: flex;
  border-bottom: 1px solid #eaeaea;
}

.side-box-list-item a img {
  height: 100%;
  margin-right: 10px;
}

.side-box-scrolling-container {
  max-height: 450px;
  overflow-y: scroll;
}

.side-box-scrolling-item {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.box-content {
  display: flex;
}

.newest-post {
  width: 304px;
  padding: 20px;
}


.news-image a img {
  height: auto;
}

.news-summary {
  line-height: 1.6em;
}

.news-summary p {
  margin-bottom: 0;
}

.article {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #eaeaea;
}

.article a img {
  width: 100px;
}

.older-articles {
  border-left: 1px solid #eaeaea;
}

.older-articles .article:last-child {
  border-bottom: 0;
}

.detail {
  margin-left: 15px;
}

.box-view-more {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #eaeaea;
}

.box-view-more a {
  color: #8e8e8e;
}

.box-view-more a:hover {
  color: #000000;
}

.box-view-more a i {
  color: #e0e0e0;
}

.centered {
  width: 100%;
}

.post-box {
  border: 1px solid #e0e0e0;
  padding: 20px;
}

/*Code block styles*/
pre {
  background-color: #ffffff;
  overflow: auto;
  margin: 0 0 1em;
  padding: .5em 1em;
  border: 1px solid #d6d6d6;
}

pre code,
pre .line-number {
  font: normal normal 14px "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: black;
  display: block;
  line-height: 1.5em;
}

pre .line-number {
  color: #afafaf;
}

pre .line-number {
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 3px solid #6ce26c;
  text-align: right;
}

pre .line-number span {
  display: block;
  padding: 0 .5em 0 1em;
}

pre .cl {
  display: block;
  clear: both;
}

/*Code block styles end*/

/*post article form css*/
#content-form {
  text-align: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #eaeaea;
}

.text-input-container {
  padding: 10px 10px 20px 10px;
}

.form-input {
  padding: 10px 10px;
  font-size: 20px;
  color: black !important;
  margin: 30px 10px 10px 0;
  width: 1000px;
}

/*submit btn*/
.submit {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  margin: 10px auto;
  color: #ffffff;
  border-radius: 4px;
  background-color: #28a745;
  border: none;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
}


.submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit:hover span {
  padding-right: 25px;
}

.submit:hover span:after {
  opacity: 1;
  right: 0;
}

/*submit btn end*/
/*selecting input*/

.chosen-value,
.chosen-value1 {
  width: 532px;
  color: #000;
  margin: 0;
  margin-top: 30px;
  font-weight: bold;
  height: 64px;
  font-size: 20px;
  padding: 1rem;
  background-color: #D5F3FE;
  border: 0;
  transition: 0.3s ease-in-out;
}

.chosen-value::-webkit-input-placeholder,
.chosen-value1::-webkit-input-placeholder {
  color: #333;
}

.chosen-value:hover,
.chosen-value1:hover {
  background-color: #4da8da;
  cursor: pointer;
}

.chosen-value:hover::-webkit-input-placeholder,
.chosen-value1:hover::-webkit-input-placeholder {
  color: #333;
}

.chosen-value,
.chosen-value1:focus,
.chosen-value.open,
.chosen-value1.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #66D3FA;
  color: #000;
}

.chosen-value:focus::-webkit-input-placeholder,
.chosen-value.open::-webkit-input-placeholder,
.chosen-value1:focus::-webkit-input-placeholder,
.chosen-value1.open::-webkit-input-placeholder {
  color: #000;
}

.value-list,
.value-list1 {
  width: 532px;
  list-style: none;
  margin: auto;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  padding: 0;
}

.value-list.open,
.value-list1.open {
  max-height: 320px;
  overflow: auto;
}

.value-list li,
.value-list1 li {
  position: relative;
  height: 3rem;
  background-color: #FAFCFD;
  padding: 1rem;
  border-top: 1px solid #afafaf;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 1;
}

.value-list li:hover,
.value-list1 li:hover {
  background-color: #D5F3FE;
}

.value-list li.closed,
.value-list1 li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  margin: 0;
  border: 0;
}

/*selecting input end*/

/*checkbox start*/
label {
  display: inline-block;
  color: #1790b5;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

label span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 25px;
  transform-origin: center;
  border: 2px solid #1790b5;
  border-radius: 50%;
  vertical-align: -6px;
  margin-right: 10px;
  transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
}

label span:before {
  content: "";
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #1790b5;
  position: absolute;
  transform: rotate(45deg);
  top: 13px;
  left: 9px;
  transition: width 50ms ease 50ms;
  transform-origin: 0% 0%;
}

label span:after {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #1790b5;
  position: absolute;
  transform: rotate(305deg);
  top: 16px;
  left: 10px;
  transition: width 50ms ease;
  transform-origin: 0% 0%;
}

label:hover span:before {
  width: 5px;
  transition: width 100ms ease;
}

label:hover span:after {
  width: 10px;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+label span {
  background-color: #1790b5;
  transform: scale(1.25);
}

input[type="checkbox"]:checked+label span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label:hover span {
  background-color: #1790b5;
  transform: scale(1.25);
}

input[type="checkbox"]:checked+label:hover span:after {
  width: 10px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

input[type="checkbox"]:checked+label:hover span:before {
  width: 5px;
  background: #fff;
  transition: width 150ms ease 100ms;
}

/*checkbox end*/

/*post article form css end*/

/*upload image css*/
.button_outer {
  margin: 10px auto;
  background: #0074d9;
  border-radius: 30px;
  text-align: center;
  height: 50px;
  width: 200px;
  transition: .2s;
  position: relative;
  overflow: hidden;
}

.btn_upload {
  padding: 17px 30px 12px;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 3;
  white-space: nowrap;
}

.btn_upload input {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 105%;
  cursor: pointer;
  opacity: 0;
}

.file_uploading {
  width: 60%;
  height: 10px;
  margin-top: 20px;
  background: #ccc;
}

.file_uploading .btn_upload {
  display: none;
}

.processing_bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-radius: 30px;
  background: #83ccee;
  transition: 3s;
}

.file_uploading .processing_bar {
  width: 100%;
}

.success_box {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}

.success_box:before {
  content: '';
  display: block;
  width: 9px;
  height: 18px;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 17px;
  top: 10px;
}

.file_uploaded .success_box {
  display: inline-block;
}

.file_uploaded {
  margin-top: 0;
  width: 50px;
  background: #83ccee;
  height: 50px;
  display: none;
}

.uploaded_file_view {
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  transition: .2s;
  opacity: 0;
  border: 2px solid #ddd;
  padding: 15px;
}

.file_remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background: #aaa;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  right: -15px;
  top: -15px;
}

.file_remove:hover {
  background: #222;
  transition: .2s;
}

.uploaded_file_view img {
  max-width: 100%;
}

.uploaded_file_view.show {
  opacity: 1;
}

.error_msg {
  text-align: center;
  color: #f00
}

/*End upload image css*/

.hljs {
  padding-top: 0 !important;
}

.search-article {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  border: 1px solid #aaa;
  padding: 20px;
}

.search-article img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}