html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 1em;
    line-height: 1.4;
    color: #222;
}

body {
    font-size: 17px;
    line-height: 1.6em;
    color: #333;
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;
}

p {
    margin-bottom: 20px;
    margin-top: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    font-size: 26px;
    display: block;
    font-size: 26px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
    line-height: 1.3em;
    font-weight: 600;
    margin-top: 0;
    color: #40454d;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div {
    display: block;
}

.entry-content {
    font-size: 17px;
    line-height: 1.8em;
}

.entry-content h2 {
    margin-top: 40px;
    font-weight: normal;
    border-bottom: dotted 1px;
    font-weight: bold;
    padding: 10px 0px !important;
    font-size: 24px !important;
    padding-bottom: 5px;
    font-size: 22px;
    color: #315062;
}


.main-col {
    width: 835px;
    float: left;
}

.main_container {
    margin: 0px 0px 20px 0px;
}

.base-box,
.sidebar .widget,
.mom-posts-widget {
    background: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    position: relative;

}

.main-sidebar {
    float: right;
    width: 307px;
}

.boxed-content-wrapper {
    margin-top: 20px;
    display: block;
}

.mom-post-meta {
    font-size: 12px;
    color: #c6c6c6;
    line-height: 1.4;
    margin-bottom: 20px;
    overflow: hidden;
}

.base-box:after,
.sidebar .widget:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
}

.inner {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin: 0 auto;
}

.sidebar .mom-posts-widget {
    margin: -20px;
}

.both-sidebars,
.inner {
    width: 1160px;
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    text-align: left;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

a {
    color: #F09217;
    background: 0 0;
    text-decoration: none;
}

a,
button {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a:hover {
    color: black;
}

label {
    font-weight: bold !important;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 15px;
    cursor: default;
}

input {
    height: 40px;
    padding: 0 8px;
    color: #222;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.mom-select,
input,
select,
textarea {
    background: #f8f8f8;
    border: 1px solid #eaeaea;
    padding: 0px 8px 0px 8px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 0;
}

.border-box,
button,
input,
select,
textarea {
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
    font-size: 100%;
    margin: 0;
}