<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN">

</html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/ajax/orderService.js}" charset="utf-8"></script>
	<title>Chính sách bảo mật</title>
</head>

<body id="page">
	<div class="boxed-content-wrapper">
		<div class="boxed-content-wrapper">
			<div class="inner"></div>
			<div class="inner" style="margin-top: 20px;">
				<div class="main_container">
					<div class="main-col" id="main_container">
						<div class="base-box" style="margin-bottom: 0px">
							<h1 id="main_title" class="post-tile entry-title">Chính sách bảo mật
							</h1>
							<span id="element_action" data-id="8" data-uri="https://freetuts.net/ajax/view/page"></span>
							<div class="mom-post-meta single-post-meta">
								<span class="author vcard">Đăng bởi: Administrator </span> <span>
									- Vào ngày: <time datetime="2016-07-21T01:50:21+07:00" itemprop="datePublished"
										class="updated">21-07-2016</time>
								</span>
							</div>

							<div class="entry-content">
								<p>Thông tin chi tiết về chính sách bảo mật khi sử dụng các dịch vụ có phí và miễn phí
									tại website. Quý khách
									vui lòng đọc cẩn thận để sau này không có những khiếu nại đáng tiếc.</p>

								<h2>1. Có thu thập thông tin cá nhân không?</h2>

								<p>Với mục đích chia sẻ kiến thức miễn phí, kèm với những dịch vụ có phí nên khi sử dụng
									dịch vụ đó, hoặc đăng
									ký theo dõi bản tin website, hoặc bình luận thì bạn sẽ được yêu cầu để lại các thông
									tin như email, số điện
									thoại.</p>

								<h2>2. Thông tin được sử dụng để làm gì?</h2>

								<p>Tùy vào dịch vụ mà bạn đăng ký. </p>

								<ul>
									<li>Nếu comment thì chúng tôi sẽ thông báo cho bạn mỗi khi có bình luận mới.</li>
									<li>Nếu theo dõi bản tin thì chúng tôi sẽ thông báo mỗi khi có bài mới.</li>
									<li>Nếu đăng ký dịch vụ trả phí như khóa học thì chúng tôi sẽ </li>
								</ul>

								<h2>3. Affiliate link</h2>

								<p>Blog có trỏ link liên kết affiliate đến một số trang khác, đây là nguồn doanh thu
									giúp duy trì website. Đương
									nhiên mình chỉ share những link hữu ích.</p>

							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="sidebar main-sidebar" id="right_sidebar" style="position: relative">
					<div class="mom-posts-widget">

					</div>
					<div id="f_right_sidebar">
						<div class="widget " style="border: none">
							<div class="mom-posts-widget" style="padding: 0px">
								<table style="margin-bottom: 0px">
									<tr>
										<td colspan="3"
											style="background: #2f6e91; color: #fff; text-align: center; font-weight: bold; font-size: 14px; padding: 2px 10px">
											MÃ GIẢM GIÁ</td>
									</tr>
									<tr style="font-size: 14px !important">
										<td>Unica</td>
										<td>50%</td>
										<td><a href="https://unica.vn/?aff=2560&src=ft.sidebar.coupon" class="coupon"
												rel="nofollow" title="freetuts50"
												style="margin-bottom: 0px; border-radius: 20px;" target="_blank">Lấy
												Mã</a></td>
									</tr>
									<tr style="font-size: 14px !important">
										<td>TinoHost</td>
										<td>30%</td>
										<td><a href="https://tinohost.com/?php=213" class="coupon" rel="nofollow"
												title="TINO30_2020" style="margin-bottom: 0px; border-radius: 20px;"
												target="_blank">Lấy Mã</a></td>
									</tr>
									<tr style="font-size: 14px !important">
										<td>INET</td>
										<td>30%</td>
										<td><a href="https://freetuts.net/recommended/inet" class="coupon"
												rel="nofollow" title="INET30UP"
												style="margin-bottom: 0px; border-radius: 20px;">Lấy Mã</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	</html>

	</html>