<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head" th:with="title='Create category'" />

<body>
  <div th:include="fragments :: admin-navigation-bar" />
  <div style="min-height: 500px;" class="body">
    <div class="body-container">
      <form id="content-form" method="post" enctype="multipart/form-data">
        <div class="text-input-container">
          <input class="form-input" type="text" name="txtDiscountName" value="" placeholder="Discount name" /><br />
          <label for="txtDiscountName" generated="true" class="error"></label><br/>

          <input class="form-input" type="text" name="txtDiscountCode" value="" placeholder="Discount code" /><br />
          <label for="txtDiscountCode" generated="true" class="error"></label><br/>

          <input class="form-input" type="text" name="txtPercentage" value="" placeholder="Amount(%)" /><br />
          <label for="txtPercentage" generated="true" class="error"></label><br/>

          <input class="form-input" type="text" name="txtDiscountLink" value="" placeholder="Discount link" /><br />
          <label for="txtDiscountLink" generated="true" class="error"></label><br/>

          <button class="submit" type="submit"><span>Submit</span></button>
        </div>
      </form>
    </div>
  </div>
  <script th:src="@{/js/validation/validateCreateDiscountCode.js}"></script>
  <script th:src="@{/js/ajax/create-discount-code.js}"></script>
</body>

</html>
