<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi-VN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/ajax/orderService.js}" charset="utf-8"></script>
	<title>Giới thiệu</title>
</head>

<body id="page">
	<div class="boxed-content-wrapper">
		<div class="boxed-content-wrapper">
			<div class="inner"></div>
			<div class="inner" style="margin-top: 20px;">
				<div class="main_container">
					<div class="main-col" id="main_container">
						<div class="base-box" itemscope="" itemtype="http://schema.org/Article"
							style="margin-bottom: 0px">
							<!--Tieu de-->
							<h1 id="main_title" class="post-tile entry-title" itemprop="headline">Điều khoản sử dụng
							</h1>
							<span id="element_action" data-id="8" data-uri="https://freetuts.net/ajax/view/page"></span>
							<!--Time - author -->
							<div class="mom-post-meta single-post-meta">
								<span class="author vcard">Đăng bởi: Administrator </span> <span>
									- Vào ngày: <time datetime="2016-07-21T01:50:21+07:00" itemprop="datePublished"
										class="updated">29-10-2019</time>
								</span>
							</div>
							<!--Content-->
							<div class="entry-content">
								<p>Để thuận tiện trong việc duy trì website thì rất mong quý độc giả tuân thủ theo những
									quy tắc mà freetuts đặt
									ra dưới đây.</p>

								<h2>Bình luận khiếm nhã và lịch sự</h2>

								<p>Hãy là một người có văn hóa, bình luận một cách lịch sự và tôn trọng mọi người. Tất
									cả những bình luận sẽ
									được public ngay lập tức, nhưng admin sẽ luôn theo dõi và xóa những bình luận vô văn
									hóa.</p>

								<h2>Chia sẻ bài viết hay</h2>

								<p>Nếu bạn cảm thấy bài viết trên freetuts hay và hữu ích thì hãy giúp mình chia sẻ nó
									đến với mọi người nhiều
									hơn nữa. Việc làm này sẽ giúp khích lệ các tác giả và họ sẽ chia sẻ ngày nhiều hơn.
								</p>

								<h2>Không copy bài </h2>

								<p>Các bài viết được tác giả tự biên soạn, tổng hợp lại nên có thể được xem là tự biên
									soạn. Vì vậy mọi hành
									động copy bài mà không xin phép sẽ được xem là vô văn hóa.

									Đối với hình ảnh thì chúng tôi có copy trên internet vì đó là kho tài nguyên miễn
									phí, vì vậy nếu có vi phạm
									bản quyền thì hãy report cho admin nhé.
								</p>

							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="sidebar main-sidebar" id="right_sidebar" style="position: relative">
					<div id="f_right_sidebar">
						<div class="widget " style="border: none">
							<div class="mom-posts-widget" style="padding: 0px">
								<table style="margin-bottom: 0px">
									<tr>
										<td colspan="3"
											style="background: #2f6e91; color: #fff; text-align: center; font-weight: bold; font-size: 14px; padding: 2px 10px">
											MÃ GIẢM GIÁ</td>
									</tr>
									<tr style="font-size: 14px !important">
										<td>Unica</td>
										<td>50%</td>
										<td><a href="https://unica.vn/?aff=2560&src=ft.sidebar.coupon" class="coupon"
												rel="nofollow" title="freetuts50"
												style="margin-bottom: 0px; border-radius: 20px;" target="_blank">Lấy
												Mã</a></td>
									</tr>
									<tr style="font-size: 14px !important">
										<td>TinoHost</td>
										<td>30%</td>
										<td><a href="https://tinohost.com/?php=213" class="coupon" rel="nofollow"
												title="TINO30_2020" style="margin-bottom: 0px; border-radius: 20px;"
												target="_blank">Lấy Mã</a></td>
									</tr>
									<tr style="font-size: 14px !important">
										<td>INET</td>
										<td>30%</td>
										<td><a href="https://freetuts.net/recommended/inet" class="coupon"
												rel="nofollow" title="INET30UP"
												style="margin-bottom: 0px; border-radius: 20px;">Lấy Mã</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>