<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head" th:with="title='Liên hệ'" />

<head>
	<!-- Script for rich-text editor -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
	<script>
		tinymce.init({
			selector: 'textarea#editor',
			skin: 'bootstrap',
			plugins: 'lists, link',
			toolbar: 'bold italic | bullist numlist',
			menubar: false
		});
	</script>
</head>

<body id="page">
	<div th:include="fragments :: navigation-bar" />
	<div class="body-container">
		<div class="main-panel">
			<div class="outer">
				<div class="box-content">
					<div class="inner" style="margin-top: 20px;">
						<div class="main_container">
							<div class="main-col" id="main_container">
								<div class="base-box" itemscope="" style="margin-bottom: 0px">
									<h1 id="main_title" class="post-tile entry-title" itemprop="headline">Liên hệ</h1>
									<span id="element_action" data-id="8"
										data-uri="https://freetuts.net/ajax/view/page"></span>

									<div class="entry-content">
										<p>Nếu bạn muốn liên hệ trực tiếp với mình thì có thể inbox qua facebook
											fb.com/thehalfheart, lưu ý là bạn phải add friends hoặc follow, nếu
											không tin nhắn vào hộp thư chờ thì mình sẽ không đọc được.
										</p>

										<p>
											<label>Tiêu đề</label><br>
											<input required="true" type="text" placeholder="Tiêu đê (required)">
										</p>

										<p>
											<label>Tên của bạn</label><br>
											<input required="true" type="text" placeholder="Tên của bạn (required)">
										</p>

										<p>
											<label>Email của bạn</label><br>
											<input required="true" type="text" placeholder="Email của bạn (required)">
										</p>
										<p>
											<label>Địa chỉ của bạn</label><br>
											<input required="true" type="text" placeholder="Địa chỉ của bạn">
										</p>

										<p>
											<label>Điện thoại của bạn</label><br>
											<input type="text" placeholder="Điện thoại của bạn">
										</p>

										<p>
											<label>Địa chỉ của bạn</label><br>
											<!--Text editor-->
											<div class="form-group">
												<textarea id="editor"></textarea>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="side-panel">
			<div th:replace="fragments :: top-side-panel" />
			<div th:replace="fragments :: fix-side-panel" th:with="couponList=${couponList}" />
		</div>
	</div>
	<div th:include="fragments :: footer" />
</body>

</html>