<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments :: head" th:with="title='Liên hệ'" />

<head>
	<!-- Script for rich-text editor -->
	<script src="ckeditor/ckeditor.js"></script>
</head>

<body id="page">
	<div th:include="fragments :: navigation-bar" />
	<div class="body-container">
		<div class="main-panel">
			<div class="outer">
				<div class="box-content">
					<div class="inner">
						<div class="main_container">
							<div class="main-col" id="main_container">
								<div class="base-box" itemscope="" style="margin-bottom: 0px">
									<h1 id="page-title" class="post-tile entry-title" itemprop="headline">Liên hệ</h1>
									<span id="element_action" data-id="8"
										data-uri="https://freetuts.net/ajax/view/page"></span>

									<div class="entry-content">
										<p>Nếu bạn muốn liên hệ trực tiếp với mình thì có thể inbox qua facebook
											fb.com/thehalfheart, lưu ý là bạn phải add friends hoặc follow, nếu
											không tin nhắn vào hộp thư chờ thì mình sẽ không đọc được.
										</p>

										<p>
											<label style="font-weight: bold">Tiêu đề</label><br>
											<input required="true" type="text" placeholder="Tiêu đê (required)">
										</p>

										<p>
											<label style="font-weight: bold">Tên của bạn</label><br>
											<input required="true" type="text" placeholder="Tên của bạn (required)">
										</p>

										<p>
											<label style="font-weight: bold">Email của bạn</label><br>
											<input required="true" type="text" placeholder="Email của bạn (required)">
										</p>
										<p>
											<label style="font-weight: bold">Địa chỉ của bạn</label><br>
											<input required="true" type="text" placeholder="Địa chỉ của bạn">
										</p>

										<p>
											<label style="font-weight: bold">Điện thoại của bạn</label><br>
											<input type="text" placeholder="Điện thoại của bạn">
										</p>

										<p>
											<label style="font-weight: bold">Địa chỉ của bạn</label><br>
											<!--Text editor-->
											<div class="form-group">
												<form>
													<textarea name="editor1" id="editor1" rows="10"
														cols="80"></textarea>
													<script>
														CKEDITOR.replace('editor1');
													</script>
												</form>
											</div>
										</p>
										<p>
											<input style="margin-left: 20px" type="submit" value="Gửi liên hệ"
												id="send_message">
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="side-panel">
			<div th:replace="fragments :: top-side-panel" />
			<div th:replace="fragments :: fix-side-panel" th:with="couponList=${couponList}" />
		</div>
	</div>
	<div th:include="fragments :: footer" />
</body>

</html>